@font-face {
    font-family: 'Roboto';
    src: url('../') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    font-family: Roboto;
    font-size: 14px;
}
h1{
    text-align: center;
    margin: 70px 0 20px;
    font-family: 'Roboto Slab';
    color: #1f222c;
}
.mb10{
    margin-bottom: 10px;
}
.form{
    padding: 50px 0;
    border-bottom: 1px solid #dcdcde;
}
.wrapper{
    width: 990px;
    margin: 0 auto;
}
.left-wrapper{
    width: 330px;
    border: none;
}
.text-focus:focus,
.text-focus:hover{
    border-color: #3e6aff;
    box-shadow: 0 0 5px rgba(62,106,255,0.55);
}
.button{
    background-color: #12d660;
    color: #fff;
    cursor: pointer;
}
.button:hover{
    box-shadow: 0 2px 5px rgba(8,118,52,0.35);
    background: #07be51;
}
label
{
    position: relative;
}
label::before,
label::after
{
    content: "";
    position: absolute;
}
.check,
.radio,
.switcher{
    visibility: hidden;
}
.stylish-checkbox-right{
    padding: 20px 40px;
}
.stylish-checkbox-right p{
    margin: 33px 0;
}
.switcher+label{
    padding-left: 65px;
    color: #1f222c;
}
.switcher+label:before{
    left: 0;
    top: -3px;
    width: 45px;
    height: 25px;
    background-color: #cfcfd1;
    border-radius: 13px;
}
.switcher+label::after{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #fff;
    left: 2px;
    top: -1px;
}
.switcher:checked+label::before{
    background-color: #3e6aff;
}
.switcher:checked+label::after{
    left: 22px;
}
.radio+label{
    padding-left: 25px;
}
.radio+label::before{
    border: 1px solid #ccc;
    width: 15px;
    height: 15px;
    left: 0;
    top: -2px;
    border-radius: 50%;
}
.radio:checked+label::before{
    border: 1px solid #3e6aff;
}
.radio:checked+label::after{
    width: 7px;
    height: 7px;
    background-color: #3e6aff;
    top: 3px;
    left: 5px;
    border-radius: 50%;
}
.check+label{
    padding-left: 22px;
}
.check:checked+label::after{
    width: 8px; 
    height: 4px;
    transform: rotate(-45deg);
    border: 2px solid #3e6aff;
	border-top-color: transparent;
    border-right-color: transparent;
    left: 3px;
    top: 1px;
}
.check:checked+label::before{
    border: 1px solid #3e6aff;
}
.check+label::before{
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    left: 0;
    border-radius: 3px;
    background-color: #fff;
}
.clear:after{
    content: "";
    clear: both;
    display: block;
}
h2{
    font-size: 20px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
}
.sub-table label{
    padding-right: 23px;
}
.sub-table label:last-child{
    padding-right: 0;
}
input,
textarea,
select{
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    resize: vertical;
    min-height: 40px;
    max-height: 300px;
}
.easy-form input,
.easy-form select,
.easy-form textarea,
.form-table input,
.form-table select,
.form-table textarea{
    width: 100%;
    padding: 12px 14px;
}
.elements{
    width: 100%;
}
.elements-first{
    float: left;
    width: 140px;
}
.elements-second{
    float: left;
    width: 265px;
}
.elements-third{
    float: right;
}
label.special{
    position: relative;
    display: inline-block;
}
.special input{
    border-radius: 2px;
    padding: 14px;
    border: 1px solid #ccc;
    font-family: Roboto ;
}

.special::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../img/form1.png);
    right: 13px;
    top: 15px;
}
.special:hover::before{
    display: none;
}
.elements-third{
    background-color: #f7f7f7;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    padding: 20px;
}
.elements-third table tr td:first-child{
    width: 80px;
}
.elements-third table tr:first-child td{  
    padding-bottom: 15px;
}
.stylish-checkbox-left{
    width: 400px;
    position: relative;
    float: left;
}
.stylish-checkbox-left input{
    visibility: hidden;
}
.stylish-checkbox-left label{
    padding-left: 85px;
}
.stylish-checkbox-left p{
    margin: 65px 0;
}
.man,
.woman{
    font-size: 16px;
    font-weight: bold;
    color: #1f222c;
}
#man:checked+.man,
#woman:checked+.woman{
    color: #3e6aff;
}
.man::before,
.woman::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: -27px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.man::before{
    background: #ccc url(../img/man-black.png) no-repeat center bottom;
}
.woman::before{
    background: #ccc url(../img/woman-black.png) no-repeat center bottom;
}
#man:checked+label:before{
    background-image: url(../img/man-bright.png);
    border-color: #3e6aff;
}
#woman:checked+label::before{
    background-image: url(../img/woman-bright.png);
    border-color: #3e6aff;
}
.form-table tr td{
    padding: 7px 0;
}
.form-table tr td:first-child{
    width: 160px;
}
.form-table tr td:last-child{
    width: 340px;
}
.form-table table{
    border-collapse: collapse;
}
.form-table .radio{
    position: absolute;
}
.form-table textarea::placeholder{
    -we
}
.file{
    width: 50%;
    box-sizing: border-box;
    background: #2857f4;
    border: 0;
    color: #fff;
    padding: 16px 10px;
    border-radius: 3px;
}   

